<h1 mat-dialog-title>Update Registry</h1>
<div  class="{{isLoading ? 'animate__animated animate__fadeIn loading w-100 h-75 position-absolute z-3 d-flex justify-content-center align-items-center':'d-none'}} ">
    <app-loader></app-loader>
</div>
<mat-dialog-content class="{{isLoading ? 'blur ':'mat-typography'}}">

    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                    <!-- area selector -->
                <mat-form-field>
                    <mat-label>Select an area</mat-label>
                    <mat-select [formControl]="areaControl" required>
                        
                      <mat-option *ngFor="let option of area" [value]="option.area_name">{{ option.area_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <!-- sub area selector -->
                <mat-form-field>
                    <mat-label>Select a sub area</mat-label>
                    <mat-select [formControl]="subAreaControl" required>
                        <mat-option>--</mat-option>
                      <mat-option *ngFor="let option of sub_area_filtered" [value]="option.sub_area_name">{{ option.sub_area_name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="subAreaControl.hasError('required')">Choose a sub area</mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <!-- sub_area selector -->
            <mat-form-field>
                <mat-label>Select a cost center</mat-label>
                <mat-select [formControl]="costCenterControl" required>
                  <mat-option *ngFor="let option of costCenterFiltered" [value]="option.CC_number">{{option.CC_name}} - {{ option.CC_number }}</mat-option>
                </mat-select>
                <mat-error *ngIf="costCenterControl.hasError('required')">Choose a cost center</mat-error>
            </mat-form-field>
        </div>
            
            

        </div>
        <div class="row">
            <div class="col-4">
                <!-- employee number input -->
                <mat-form-field class="example-full-width">
                    <mat-label>Employee number</mat-label>
                    <input type="text" matInput disabled value={{employeeNumberControl.value}}>
                </mat-form-field>
            </div>
            <div class="col-4">
                <!-- employee name input -->
                <mat-form-field class="example-full-width">
                    <mat-label>Employee name</mat-label>
                    <input type="text" matInput [formControl]="employeeNameControl" placeholder="Employee name" required>
                    <mat-error *ngIf="!employeeNameControl.hasError('required')">
                        Enter a employee name
                    </mat-error>
                </mat-form-field>
        </div>  
        <div class="col-4">
            <!-- employee email input -->
            <mat-form-field class="example-full-width">
                <mat-label>Employee email</mat-label>
                <input type="email" matInput [formControl]="employeeEmailControl" placeholder="Employee email">
            </mat-form-field>
    </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-6">
                <!--license input -->
                <mat-form-field class="w-100">
                    <mat-label>license</mat-label>
                    <input type="text" matInput [formControl]="licenseControl" placeholder="license">
                    <mat-error *ngIf="!licenseControl.hasError('required')">
                        Enter a employee name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <!--lincese status selector -->
                <mat-form-field class="w-100 ">
                    <mat-label>license expiration</mat-label>
                    <input [value]="licenseExpVal" matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" disabled="{{lifeTime || unknownExp ? 'true':'false' }}" >
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-hint class="d-flex flex-row justify-content-between fs-6 w-100">
                        <small class="me-2">
                            <mat-slide-toggle [(ngModel)]="lifeTime" (toggleChange)="lifeTimeFunc()" >LifeTime Exp</mat-slide-toggle>
                        </small>
                        <small class="ms-2">
                            <mat-slide-toggle [(ngModel)]="unknownExp" (toggleChange)="unknownExpFunc()" >Unkown Exp</mat-slide-toggle>
                        </small>
                    </mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
        </div>
        <div class="row">
            
            <div class="col-12">
                <!-- notes text-area -->
                <mat-form-field class="w-100">
                    <mat-label>Leave a note</mat-label>
                    <textarea matInput [formControl]="noteControl" placeholder="leave a note"></textarea>
                </mat-form-field>
                
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  color="accent" (click)="updateRegistry()" [disabled]="isLoading">update</button>
  <!-- <button mat-button  color="accent" cdkFocusInitial (click)="updateRegistry()">update</button> -->
</mat-dialog-actions>

