<mat-toolbar color="primary" class="animate__animated animate__fadeInDown d-flex justify-content-between" style="margin-bottom: 5em;">
  <span class="fs-5">License inventory</span>
    <p class="d-flex flex-column-reverse align-items-end text-uppercase">{{auth ? 'logout':'login'}}
      <button  role="button" mat-icon-button (click)="loginLogout()"><mat-icon>{{auth ? 'logout':'login'}}</mat-icon></button>
    </p>
      
      
    
</mat-toolbar>

<div class="container position-relative animate__animated animate__fadeInUp">
  <div style="position: relative; top: -55px; left: -12px;">
    <div class="position-absolute">

      <svg class="selected" xmlns="http://www.w3.org/2000/svg" width="250" height="60" viewBox="0 0 241 52" >
        <path d="M0 20C0 8.9543 8.95431 0 20 0H203.429C206.903 0 210.128 1.80252 211.947 4.76128L241 52H0V20Z" />
        </svg>
      <p style="position: absolute; top: 1em; left: 1.9em;">
        <span class=" ms-1 me-1 text_licenses_select"> Total Licenses </span>
        <span class="quantity_radius_select" >{{TotalRegistryCounts?.totalRegistry}}</span>
      </p>
    
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div id="table-conteiner">
        <div class="row">
          <div class="col-4">
            <div class=" mb-2 mt-4">
              <button  mat-raised-button color="primary" class=" me-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Advance filter
              </button>
              <button  mat-raised-button color="secondary" *ngIf="auth" class=" ms-1" type="button" (click)="openCreateDialog()">
                Add new registry
              </button>
            </div>
            
          </div>
          <!-- <div class="col">
            <app-excel ></app-excel> 
          </div> -->
          
        </div>
          <mat-card class="collapse" id="collapseExample">
            <mat-card-content>
            
        <form class="example-form">
          
          <mat-form-field class="example-full-width me-4">
            <mat-label>Filter</mat-label>
            <input type="text"
            placeholder="what are you looking for?" 
            aria-label="Employee Number"
            matInput
            [formControl]="filterControl">
            
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Filter license</mat-label>
            <input type="text"
              placeholder="write a license"
              aria-label="filter license"
              matInput
              [formControl]="licenseControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredLicenses | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        
        
        
        </form> 
        </mat-card-content>
          </mat-card>
        
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mt-2 table">

          <ng-container matColumnDef="select" *ngIf="auth">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation(); toggle(row); showSelected()"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id_IR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  >Registry number</th>
            <td mat-cell *matCellDef="let element"  > {{element.id_IR}} </td>
          </ng-container>
        
        
        
          <ng-container matColumnDef="employee_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
            <td mat-cell *matCellDef="let element">
              <span mat-raised-button matTooltip="employee number: {{element.employee_number}}">
                {{element.employee_name}}
              </span>  </td>
          </ng-container>
        
        
        
          <ng-container matColumnDef="license">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> License </th>
            <td mat-cell *matCellDef="let element"> {{element.license}} </td>
          </ng-container>
        
          <ng-container matColumnDef="license_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> License status </th>
            <td mat-cell *matCellDef="let element" class="position-relative" > 
              <span class="{{ element.license_status === 'active' ? 'active':
                element.license_status === 'expired' ? 'expired' : null}}">
                {{element.license_status}}
              </span>   
            </td>
          </ng-container>
        
          <ng-container matColumnDef="license_expiration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> License EXP date </th>
            <td mat-cell *matCellDef="let element" class="position-relative"> 
              <span class="{{ element.license_expiration === '2000-01-01 00:00:00.000' ? 'unknown' :
              element.license_expiration == '9999-12-31 00:00:00.000' ? 'lifeTime' : 
              'add-date' }}
            ">
                {{ element.license_expiration === '2000-01-01 00:00:00.000' ? 'Unknown' :
                element.license_expiration == '9999-12-31 00:00:00.000' ? 'Lifetime' : 
                element.license_expiration | date: 'dd/MM/yyyy' }}
              
              </span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
            <td mat-cell *matCellDef="let element"> {{element.notes }} </td>
          </ng-container>
        
          <ng-container matColumnDef="CC_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CC Name </th>
            <td mat-cell *matCellDef="let element">
              <span mat-raised-button matTooltip="Cost Center Number: {{element.CC_number}}" aria-label="Button that displays a tooltip when focused or hovered over" >
                {{element.CC_name}}
              </span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="sub_area_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Area Name </th>
            <td mat-cell *matCellDef="let element"> 
              <span mat-raised-button matTooltip="{{element.area_abbreviation}}.{{element.sub_area_abbreviation}}" aria-label="Button that displays a tooltip when focused or hovered over" >
                {{element.sub_area_name}}
              </span> 
            </td>
          </ng-container>
          
          <ng-container matColumnDef="sub_area_manager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Area Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.sub_area_manager}} </td>
          </ng-container>

          <ng-container matColumnDef="actions" *ngIf="auth">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateElement(element)">Update</button>
                <button mat-menu-item (click)="deleteElement(element)">Delete</button>
              </mat-menu>
            </td>
          </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        
      </div>
    </div>
  </div>
</div>


