<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- No. Column -->
    <ng-container matColumnDef="id_IR">
        <th mat-header-cell *matHeaderCellDef>registry number</th>
        <td mat-cell *matCellDef="let element"> {{element.id_IR}} </td>
      </ng-container>
   
    <!-- Area Abbreviation Column -->
    <ng-container matColumnDef="area_manager">
        <th mat-header-cell *matHeaderCellDef> Area Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.area_manager}} </td>
      </ng-container>
      <ng-container matColumnDef="area_abbreviation">
        <th mat-header-cell *matHeaderCellDef> Area abbreviation </th>
        <td mat-cell *matCellDef="let element"> {{element.area_abbreviation}} </td>
      </ng-container>
  
    <!-- Sub Area Manager Column -->
    <ng-container matColumnDef="sub_area_manager">
      <th mat-header-cell *matHeaderCellDef> Sub Area Manager </th>
      <td mat-cell *matCellDef="let element"> {{element.sub_area_manager}} </td>
    </ng-container>
  
    <!-- Sub Area Abbreviation Column -->
    <ng-container matColumnDef="sub_area_abbreviation">
      <th mat-header-cell *matHeaderCellDef> Sub Area Abbreviation </th>
      <td mat-cell *matCellDef="let element"> {{element.sub_area_abbreviation}} </td>
    </ng-container>

    <ng-container matColumnDef="sub_area_name">
        <th mat-header-cell *matHeaderCellDef> Sub Area Name </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_area_name}} </td>
      </ng-container>

      <ng-container matColumnDef="employee_number">
        <th mat-header-cell *matHeaderCellDef> Employee Number </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_number}} </td>
      </ng-container>
      <ng-container matColumnDef="employee_name">
        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
      </ng-container>
      <ng-container matColumnDef="CC_number">
        <th mat-header-cell *matHeaderCellDef> CC Number </th>
        <td mat-cell *matCellDef="let element"> {{element.CC_number}} </td>
      </ng-container>

      <ng-container matColumnDef="CC_name">
        <th mat-header-cell *matHeaderCellDef> CC Name </th>
        <td mat-cell *matCellDef="let element"> {{element.CC_name}} </td>
      </ng-container>

      <ng-container matColumnDef="license">
        <th mat-header-cell *matHeaderCellDef> license </th>
        <td mat-cell *matCellDef="let element"> {{element.license}} </td>
      </ng-container>

      <ng-container matColumnDef="license_status">
        <th mat-header-cell *matHeaderCellDef> License status </th>
        <td mat-cell *matCellDef="let element"> {{element.license_status}} </td>
      </ng-container>

      <ng-container matColumnDef="license_expiration">
        <th mat-header-cell *matHeaderCellDef> License EXP date </th>
        <td mat-cell *matCellDef="let element"> {{element.license_expiration}} </td>
      </ng-container>

      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> notes </th>
        <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
      </ng-container>

    <!-- Define las demás columnas de acuerdo a las propiedades de tu objeto PeriodicElement -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
