h1{
    color: #C60021;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.active{
    border-radius: 40px;
/* border: 1px solid #1A237E; */
background: rgb(63,81,181);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
position: absolute;
left: 1.2em;
padding-left: 1.5em;
padding-right:1.5em;
padding-top: 0.3em;
padding-bottom: 0.3em;
color: rgb(253, 253, 253);
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}
.expired{
    border-radius: 40px;
/* border: 1px solid #88160E; */
background: rgb(213,0,0);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
position: absolute;
left: 1.2em;
color: rgb(253, 253, 253);
padding-left: 1.2em;
padding-right:1.2em;
padding-top: 0.3em;
padding-bottom: 0.3em;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}
.unknown{
    border-radius: 40px;
border: 1px solid #5B626C;
background: #8D959F;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #5B626C;
padding: 0.4em;
text-align: center;
position: absolute;
left: 1.2em;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}
.lifeTime{
    border-radius: 40px;

background: #0277BD;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding-left: 1.5em;
padding-right:1.5em;
padding-top: 0.3em;
padding-bottom: 0.3em;
color: #ffffff;
text-align: center;
position: absolute;
left: 1.2em;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}
.add-date{
    border-radius: 40px;
background: #01579B;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding-left: 0.6em;
padding-right:0.6em;
padding-top: 0.3em;
padding-bottom: 0.3em;
color: rgb(253, 253, 253);
position: absolute;
left: 1.2em;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}
@media (max-width: 768px){
    .unknown{
        position:static;
    }
    .lifeTime{
        position:static;
    }
    .add-date{
        position:static;
    }
    .active{
        position:static;
    }
    .expired{
        position:static;
    }
}

.container{
    border-radius: 0px 15px 0px 0px;
    background: #F7F7F7;
}


.text_licenses_select{
    color: #8B1A10;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    top: 3px;
}
.text_licenses_unselect{
    color: #9CA3A7;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    top: 3px;
}
.quantity_radius_select{
    background-color: #8B1A10;
    border: 3px solid #8B1A10;
    border-radius: 1.563em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.18em;
    padding-bottom: 0.18em;
    color: #ffff;
    font-size: 0.8em;
    font-weight: 500;
}

.quantity_radius_unselect{
    background-color: #9CA3A7;
    border: 3px solid #9CA3A7;
    border-radius: 1.563em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.18em;
    padding-bottom: 0.18em;
    color: #5C6468;
    font-size: 0.8em;
    font-weight: 500;
}
.selected{
    fill:#F7F7F7
}
.unselected{
    fill: #D4D7DC;
stroke-width: 1px;
stroke: rgba(173, 185, 193, 0.50);
}
.selected-icon{
    fill:#8B1A10;
}
.unselected-icon{
    fill: #9CA3A7;
}

.btn-add-registry{
border-radius: 40px;
background: #DB0000;
}
.text-add-registry{
color: #FFF;
text-align: center;
font-style: normal;
font-weight: 600;
line-height: normal;
}
@media (max-width: 768px){

#table-conteiner{
overflow: scroll;
    }
}